@import 'tailwindcss';

html {
    background-color: #020617;
}

body {
    background-color: #020617;
    min-height: 100vh;
    @apply text-slate-200 antialiased;
}

#root {
    background-color: #020617;
    min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #020617;
}

::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}